---
import WidgetLayout from "../../../layouts/widgetLayout.astro";
---

<WidgetLayout name="Clock">
  <div class="flex flex-col justify-start h-full w-full">
    <div>
      <p id="clock" class="text-3xl md:text-5xl"></p>
      <p id="date" class="text-xl md:text-3xl"></p>
      <script src="/src/scripts/clock.js"></script>
    </div>
  </div>
</WidgetLayout>