---
interface Props {
  name: string;
  description: string;
  url: string;
  imageUrl: string;
}

const { name, description, url, imageUrl } = Astro.props;

import BaseLayout from "./baseLayout.astro";
---

<BaseLayout>
  <div class="md:w-[48rem] mx-auto text-left relative">
    <div class="flex flex-col gap-2">
      <div class="w-full h-48 flex gap-2">
        <img src={imageUrl} alt="widget image" class="border-2 border-gray-400 bg-gray-200 rounded-2xl w-48 h-auto object-contain">
        <div class="flex flex-col gap-2">
          <p class="text-4xl">{name}</p>
          <p class="text-2xl">{description}</p>
        </div>
      </div>
      <h1 class="text-4xl">Widget Links</h1>
      <div class="flex flex-col gap-2">
        <div class="bg-gray-200 border-2 border-gray-400 rounded-full w-full flex justify-between">
          <p id="embedUrl" class="p-2 text-xl border-r-2 border-gray-400 sm:border-r-0">{url}</p>
          <button id="copyUrl" class="transition-all h-full p-2 text-xl border-gray-400 sm:border-l-2"><i class="ti ti-copy"></i>Copy</button>
        </div>
        <div class="bg-gray-200 border-2 border-gray-400 rounded-full w-full flex justify-between">
          <p id="embedUrl2" class="p-2 text-xl border-r-2 border-gray-400 sm:border-r-0">{url+'?dark=true'}</p>
          <button id="copyUrl2" class="transition-all h-full p-2 text-xl border-gray-400 sm:border-l-2"><i class="ti ti-copy"></i>Copy</button>
        </div>
        <script src="../scripts/copyText.js"></script>
      </div>
    </div>
  </div>
</BaseLayout>