---
import "../styles/tailwind.css";
import "../styles/tabler-icons.min.css";

interface Props {
  name: string;
}

const { name } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="https://raw.githubusercontent.com/LordChebupelya/astro-blog/master/assets/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name} | shorkNotion </title>
	</head>
	<body class="bg-gray-50 text-black p-4 h-screen w-screen">
		<script src="../scripts/theme.js"></script>
    <slot />
	</body>
</html>